.container {
  background-color: rgb(165, 124, 42);
  width: 50vw;
  height: 50vh;
}

.div-1 {
  background-color: blueviolet;
  width: 50%;
  height: 50%;
  display: inline-block;

  /* ShortHand */
  /* padding: 50px; */
  border: 2px solid black;
  margin: 10px;
  /* margin-top: 10px; */
  /* border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: red; */
  box-sizing: border-box;
}

strong {
    font-weight: bold;
}

